# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2016\.11\.15\.zip

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2016\.11\.18\.zip

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2017\.1\.24\.zip

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2017\.10\.3\.zip

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2017\.2\.22\.zip

addons/plugin\.video\.nhlgcl/plugin\.video\.nhlgcl-2017\.2\.24\.zip
